.texture-41600 {
  -webkit-mask-image: url("../../../../Images/textures/texture_41600-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.8) 100%);
  mask-image: url("../../../../Images/textures/texture_41600-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.8) 100%);
  mask-mode: alpha;
}

.texture-41300 {
  -webkit-mask-image: url("../../../../Images/textures/texture_41300-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 50%);
  mask-image: url("../../../../Images/textures/texture_41300-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 20%, rgba(204, 204, 204, 0.8) 50%);
  mask-mode: alpha;
}

.texture-3900 {
  -webkit-mask-image: url("../../../../Images/textures/texture_3900-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 50%);
  -webkit-mask-mode: alpha;
  mask-image: url("../../../../Images/textures/texture_3900-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 50%);
  mask-mode: alpha;
}
.texture-33859 {
  -webkit-mask-image: url("../../../../Images/textures/texture_33859-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 50%);
  mask-image: url("../../../../Images/textures/texture_33859-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 50%);
  mask-mode: alpha;
}
.texture-80973 {
  -webkit-mask-image: url("../../../../Images/textures/texture_80973-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 50%);
  mask-image: url("../../../../Images/textures/texture_80973-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 50%);
  mask-mode: alpha;
}
.texture-81069 {
  -webkit-mask-image: url("../../../../Images/textures/texture_81069-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 50%);
  mask-image: url("../../../../Images/textures/texture_81069-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 50%);
  mask-mode: alpha;
}

.texture-161311 {
  -webkit-mask-image: url("../../../../Images/textures/texture_161311-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 50%);
  mask-image: url("../../../../Images/textures/texture_161311-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 50%);
  mask-mode: alpha;
}
.texture-927498 {
  -webkitmask-image: url("../../../../Images/textures/texture_927498-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 50%);
  mask-image: url("../../../../Images/textures/texture_927498-s.png"),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 50%);
  mask-mode: alpha;
}
