.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------- */

/* zhana aygerim newly loaded textures */

.texture-0805-00 {
  background: url("../src/Images/textures/texture-0805-00.png");
  opacity: 0.25;
}

.texture-0806-00 {
  background: url("../src/Images/textures/texture-0806-00.png");

  opacity: 0.25;
}

.texture-0807-00 {
  background: url("../src/Images/textures/texture-0807-00.png");
  opacity: 0.25;
}

.texture-0807-10 {
  background: url("../src/Images/textures/texture-0807-10.png");
  opacity: 0.25;
}

.texture-0908-00 {
  background: url("../src/Images/textures/texture-0908-00.png");
  opacity: 0.25;
}

.texture-09051-10 {
  background: url("../src/Images/textures/texture-09051-10.png");
  opacity: 0.25;
}

.texture-686045 {
  background: url("../src/Images/textures/texture-686045.png");
  opacity: 0.25;
}
