.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------- */

.texture-41600 {
  background: url("../src/Images/textures/texture_41600-s.png");
}

.texture-41300 {
  background: url("../src/Images/textures/texture_41300-s.png");
}

.texture-3900 {
  background: url("../src/Images/textures/texture_3900-s.png");
}
.texture-33859 {
  background: url("../src/Images/textures/texture_33859-s.png");
}
.texture-80973 {
  background: url("../src/Images/textures/texture_80973-s.png");
}
.texture-81069 {
  background: url("../src/Images/textures/texture_81069-s.png");
}

.texture-161311 {
  background: url("../src/Images/textures/texture_161311-s.png");
}
.texture-927498 {
  background: url("../src/Images/textures/texture_927498-s.png");
}
